[Unit]
Description=Block Monitor Service
After=network.target

[Service]
User=YOUR_USERNAME
Group=YOUR_GROUP_ID
WorkingDirectory=/path/to/script/directory
ExecStart=/usr/bin/python3 /path/to/block-production-monitor.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
